# python
**/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
**/venv/
*.egg-info/
.pytest_cache/
.hypothesis/
.benchmarks/

# node
node_modules/
**/node_modules/
dist/
**/dist/
build/
.cache/

# database
*.db
*.sqlite
*.sqlite3

# mac
.DS_Store

# IDEs
.vscode/
.idea/
/backend/routers/__pycache__
*.pyc
